@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161623; 

    overflow: hidden;
    min-height: 100vh;
}

section::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(#e91e63, #90133d);
    transform: translate(-300px, -220px);
}

section::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#2196f3, #125083);
    transform: translate(250px, 200px);
}





.look-calendar {
    z-index: 1000;
    position: relative;
    width: 480px; 

    min-height: 500px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  #calendar {
    width: 88%;
    font-size: 17px;
    text-align: center;
    border-spacing:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
  }
  #calendar tr td {
    font-size: 17px;
    padding: 17px;
    color: #fff;
  }





  #calendar thead tr:last-child {
    font-size: small;
    color: #fff;
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    font-size: 25px;
    color: #fff;
  }



  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }

  #calendar tbody td {
    font-size: 17px;
    color: #fff;
    padding: 17px;
    border-radius: 5px;

  }

  #calendar tbody td:nth-child(n+6),
  #calendar .holiday {
    color: coral;
  }

  #calendar tbody td.today {
    background: #ecf0f3;
    color: #111;
  }

  .month {
    padding: 30px;
  }

  i {
    color: #fff;
    font-size: 20px;
  }



@media all and (max-width: 1000px) {
  .look-calendar {
    width: 480px;
  }
}

@media all and (max-width: 500px) {
  .look-calendar {
    width: 98%;
  }

  #calendar tr.dn td {
    font-size: 20px;
    padding: 15px;
  }
}
